<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>L'index</title>
        
    </head>
    <body>
        <ul>
        {% for event in event %}
            <a href="{{ path('event_view' , {'id' : event.id}) }}">
            
            <li>Nom de l'évènement : {{ event.eventName }} - Date de l'évènement : {{ event.eventDate }}</li>   
        {% endfor %}

        <a href="{{ path('event_add') }}"><button>Ajouter un utilisateur</button></li> 

        </ul>
    </body>
</html>

